#container {
	margin-top: 2rem;
}

img {
	max-width: 100%;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

@for $var from 1 to 9 {
	@for $var2 from 0 to 9 {
		.font-#{$var}#{$var2} {
			font-size: #{($var + ($var2 / 10))}rem !important;
		}
	}
}

.btn-secondary {
	background-color: transparent;
	border: 1px solid #ebedf2;
	color: #6c7293;
	&:hover {
		color: #6c7293;
		border-color: #ebedf2 !important;
		background-color: #f4f5f8 !important;
	}
}
