@font-face {
  font-family: dana;
  src: url('../fonts/danawebGX.woff') format('woff-variations'),
  url('../fonts/danawebGX.woff') format('woff');
  font-display: fallback;
}
// @font-face {
//   font-family: dana;
//   font-style: normal;
//   font-weight: bold;
//   src: url('../fonts/dana-bold.woff') format('woff');
//   font-display: fallback;
// }
// @font-face {
//   font-family: dana;
//   font-style: normal;
//   font-weight: normal;
//   src: url('../fonts/dana-regular.woff') format('woff');
//   font-display: fallback;
// }
